/* COLOUR PALETTE
------------------------------------
generated at https://coolers.co

#A4243B - Vivid burgundy
#48A9A6 - Verdigris (turquoise-ish)
#E4DFDA - Timberwolf (beige)
#D4B483 - Burlywood (mustard yellow)
#C1666B - Fuzzy Wuzzy (salmon but not)
------------------------------------*/

/* General
------------------------------------*/
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: #E4DFDA;
    color: #A4243B;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

h1 {
    font-size: 55px;
}

h2 {
    font-size: 35px;
}

h1, h2 {
    margin: 10px 0 10px;
    font-family: 'Work Sans', sans-serif;

}

.mylink {
    border-radius: 3px; 
    border: 1px solid transparent;
    white-space: nowrap;

}

.mylink:hover {
    border-color: black;
}

.section-content {
    max-width: 800px;
    width: 85%;
    margin: 0 auto;
    padding: 60px 0;
}

h3 {
    margin-bottom: 0;
}

.item-details h3 + p {
    /* matches to the p element directly after the h3 */
    font-style: italic;
}

.item-details  h3 ~ p {
    /* matches all p elements following a h3 element */
    margin: 0
}

.divider  > section {
    border-bottom: 1px dashed #A4243B;
    padding: 25px 0;
}

.divider > section:last-of-type {
    border-bottom-style: none;
}

/* Opening
-----------------------------------*/
header {
    background: #C1666B;
    color: #E4DFDA;
}

header a {
   color: #48A9A6;
}

/* Projects
-----------------------------------*/
.projects {
    background: #D4B483;
}

.project-item {
    overflow: hidden;

}

.project-item img {
    float: left;
    margin-right: 20px;
}

.project-item h3 {
    margin-top: 0;
}

/* Work Experience
-----------------------------------*/
.job-item {
    display: grid;
    grid-template-columns: 1fr 2fr;

}

/* Education
-----------------------------------*/
.education {
    background-image: url(../images/sharon-mccutcheon-unsplash.jpg);
    background-position: bottom right;
    background-size: cover;
    color: #A4243B;
}

.education p {
    width: 55%
}

/* Footer
-----------------------------------*/

footer {
    background: #48A9A6;
    color: #E4DFDA;
    text-align: center;
}

footer a {
    color: #A4243B;
}

.contact-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.contact-list a {
    padding: 15px;
}
