/* COLOUR PALETTE
------------------------------------
generated at https://coolers.co

#A4243B - Vivid burgundy
#48A9A6 - Verdigris (turquoise-ish)
#E4DFDA - Timberwolf (beige)
#D4B483 - Burlywood (mustard yellow)
#C1666B - Fuzzy Wuzzy (salmon but not)
------------------------------------*/

/* General
------------------------------------*/
body {
    background: #E4DFDA;
    color: #A4243B;
    margin: 0;
}

h1, h2 {
    margin: 0
}

.mylink {
    border-radius: 3px; 
    border: 1px solid transparent;
    white-space: nowrap;

}

.mylink:hover {
    border-color: black;
}

.section-content {
    margin: 0 auto;
    padding: 20px 20%;
}



/* Opening
-----------------------------------*/
header {
    background: #C1666B;
    color: #E4DFDA;
}

header a {
   color: #48A9A6;
   font-size: larger;
}

/* Projects
-----------------------------------*/
.projects {
    background: #D4B483;
}

/* Work Experience
-----------------------------------*/


/* Education
-----------------------------------*/
.education {
    background: #C1666B;
    color: #E4DFDA;
}

/* Footer
-----------------------------------*/

footer {
    background: #48A9A6;
    color: #E4DFDA;
}

footer a {
    color: #A4243B;
    font-size: larger;
}
